body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.nome1{
    height: 600px;
    width: 800px;
    background-color: rgb(192, 187, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.nome2{
    height: 180px;
    width: 700px;
    background-color: rgba(255, 209, 248, 0.973);
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.nome3{
    height: 180px;
    width: 700px;
    background-color: rgb(253, 197, 253);
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.nome4{
    height: 180px;
    width: 700px;
    background-color: rgb(236, 175, 255);
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.nome5{
    height: 80px;
    width: 90px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

